---
import Layout from "../layouts/Layout.astro";
import destacados from "../db/es/destacados.json";
import Testimonial from "../components/es/Testimonial";
import Hero from "../components/es/Hero.astro";

const videoId = "3ETVsjQngRQ";
const videoPreview = `https://img.youtube.com/vi/${videoId}/hqdefault.jpg`;

const title = "Pachamama Turismo Alternativo - Circuitos de Ecoturismo en Perú";
const metaDescription =
  "Descubre los mejores circuitos de ecoturismo en Perú con Pachamama Turismo Alternativo. Vive experiencias únicas de aventura, naturaleza y cultura en destinos sostenibles como Machu Picchu, la Amazonía y el Lago Titicaca. Reserva tu viaje ahora.";
const ogImage = "/hero/HERO - machu-picchu.webp";
---

<Layout
  title={title}
  description={metaDescription}
  ogImage={ogImage}
  rutaEsp="/inicio"
  rutaFr="/"
>
  <Hero />
  <section
    class="w-full max-w-[1000px] flex lg:flex-row flex-col gap-5 sm:gap-10 justify-center items-center min-h-[500px] py-20 px-5 self-center"
  >
    <div class="flex flex-col items-center">
      <h2 class="text-2xl sm:text-4xl animate-slidein font-bold uppercase">
        ¿Por qué elegir
      </h2>
      <h2 class="text-3xl sm:text-6xl text-[#226428] font-bold uppercase">
        Pachamama
      </h2>
      <h2 class="text-3xl sm:text-6xl text-[#DD3800] font-bold uppercase">
        Turismo?
      </h2>
    </div>
    <div class="text-lg sm:text-2xl flex flex-col gap-5">
      <p>
        Pertenecemos a la familia CIAP, una organización de artesanos peruanos
        que apoya al comercio justo y la economía social.
      </p>
      <ul class="list-inside flex flex-col gap-3">
        <li class="pl-5 list-disc text-base sm:text-xl">
          Nuestra experiencia en el sector del turismo alternativo.
        </li>
        <li class="pl-5 list-disc text-base sm:text-xl">
          Promoveremos un turismo responsable, sostenible y alternativo en Perú.
        </li>
        <li class="pl-5 list-disc text-base sm:text-xl">
          Buscamos involucrar al viajero responsable en el desarrollo local de
          nuestros pueblos.
        </li>
      </ul>
    </div>
  </section>

  <section
    class="relative inline-block w-full h-[600px] md:h-[800px] xl:h-[600px] before:content-[''] before:absolute before:w-full before:h-full before:bg-[black] before:opacity-50 before:pointer-events-none before:left-0 before:top-0"
  >
    <img
      src="amazonas-bote.webp"
      alt="Amazonas en bote"
      class="w-full h-full bg-cover object-center object-cover"
    />
    <div
      class="absolute inset-0 h-full flex xl:flex-row flex-col max-w-[1000px] mx-auto w-full gap-10 xl:gap-20 justify-center items-center text-[white] p-5 top-0 self-center"
    >
      <div
        class="text-center xl:max-w-[440px] w-full flex flex-col gap-5 md:gap-10"
      >
        <h3 class="text-3xl md:text-6xl font-bold uppercase">
          Compromiso Sostenible
        </h3>
        <p class="text-xl md:text-[32px] text-pretty">
          No dejes para mañana el viaje que puedes hacer hoy, conoce nuestros
          más atractivos circuitos.
        </p>
      </div>
      <div
        class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
      >
        <img
          src={videoPreview}
          alt="Vista previa del video"
          class="w-full h-full object-cover"
        />
        <div class="absolute inset-0 flex justify-center items-center">
          <div class="absolute inset-0 flex justify-center items-center">
            <div
              class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-10 w-10 text-black"
                fill="black"
                viewBox="0 0 24 24"
                stroke="black"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center gap-10 md:gap-20 py-20 px-5">
    <h3 class="text-3xl md:text-6xl font-bold uppercase text-center">
      Circuitos Destacados
    </h3>
    <section class="flex gap-10 flex-wrap justify-center">
      {
        destacados.map((destacado) => (
          <article class="relative w-full max-w-80 md:max-w-[380px] h-96 md:h-[600px] overflow-hidden group transition-all ease-in-out duration-500 rounded-lg shadow-xl">
            <a href={destacado.path} class="group block h-full">
              <img
                class="w-full h-full bg-cover object-center object-cover group-hover:scale-110 transition-all ease-in-out duration-500"
                src={destacado.portada}
                alt={`Circuito ${destacado.nombre}`}
              />
              <div class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 bottom-0 group-hover:bg-[#C9CE92] group-hover:text-[#226428] transition-all duration-500 ease-in-out">
                <h3 class="Circuits-overlay-title font-bold text-xl md:text-[28px]">
                  {destacado.nombre}
                </h3>
              </div>
            </a>
          </article>
        ))
      }
    </section>
  </section>

  <Testimonial client:load />
</Layout>

<script>
  const videoId = "3ETVsjQngRQ";

  const youtubeUrl = `https://www.youtube-nocookie.com/embed/${videoId}?si=qrZMIOTf-lJcd_x_&controls=0`;
  document.addEventListener("DOMContentLoaded", () => {
    const youtubePreview = document.querySelector(".youtube-preview");
    youtubePreview.addEventListener("click", () => {
      const iframe = document.createElement("iframe");
      iframe.src = `${youtubeUrl}&autoplay=1`;
      iframe.frameBorder = "0";
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
      iframe.allowFullscreen = true;
      iframe.classList.add("w-full", "h-full", "object-cover");

      youtubePreview.innerHTML = ""; // Elimina el contenido actual (imagen y botón)
      youtubePreview.appendChild(iframe); // Añade el iframe
    });
  });
</script>
