---
import Layout from "../layouts/Layout.astro";
import HeroNoticia from "../components/es/HeroNoticia.astro";

const videoIdO = "2RO57PxUcpE";
const videoIdTw = "Q8g1fHamJhw";
const videoIdT = "iBbYZByTDZw";

const videoPreviewO = `https://img.youtube.com/vi/${videoIdO}/hqdefault.jpg`;
const videoPreviewTw = `https://img.youtube.com/vi/${videoIdTw}/hqdefault.jpg`;
const videoPreviewT = `https://img.youtube.com/vi/${videoIdT}/hqdefault.jpg`;
---

<Layout
  title="Noticias - Pachamama Turismo Alternativo"
  rutaEsp="/noticias"
  rutaFr="/nouvelles"
>
  <HeroNoticia />
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] self-center justify-center items-center py-20 px-5"
  >
    <div class="w-full flex flex-col gap-5 self-center">
      <h2 class="text-3xl lg:text-6xl font-bold uppercase text-center">
        Enterate de nuestras novedades
      </h2>
      <p
        class="text-lg lg:text-xl max-w-[600px] w-full self-center text-center"
      >
        Nos encanta interactuar con nuestros viajeros, es por ello que te
        invitamos a que nos sigas en nuestras Redes Sociales.
      </p>
      <ul
        class="flex justify-center flex-wrap sm:flex-nowrap gap-3 md:gap-10 transition-all"
      >
        <li>
          <a
            href="https://www.facebook.com/pachamamaturismoalternativo"
            target="_blank"
          >
            <img
              class="hover:scale-90 h-10 lg:h-16 transition-all"
              src="/redes/Redes - Facebook.webp"
              alt="Facebook de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/pachamama.turismo/"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Instagram.webp"
              alt="Instagram de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCsA3Lv9AAywqiaziSMm651Q"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Youtube.webp"
              alt="Youtube de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@pachamama.turismo" target="_blank">
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Tiktok.webp"
              alt="Tiktok de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=51933200365"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Whatsapp.webp"
              alt="Whatsapp de Pachamama Turismo"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section
    class="max-w-[1000px] self-center flex flex-col gap-10 lg:gap-20 py-20 px-5"
  >
    <h3 class="text-3xl lg:text-6xl uppercase font-bold text-center">
      Nuestro canal de Youtube
    </h3>
    <div class="flex justify-center flex-wrap gap-10">
      <article class="max-w-[400px] flex flex-col gap-5">
        <div
          class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
        >
          <img
            src={videoPreviewO}
            alt="Vista previa del video"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 flex justify-center items-center">
            <div class="absolute inset-0 flex justify-center items-center">
              <div
                class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-black"
                  fill="black"
                  viewBox="0 0 24 24"
                  stroke="black"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <p class="text-sm lg:text-base">
          No dejes para mañana el viaje que puedes hacer hoy, conoce nuestros
          más atractivos circuitos.
        </p>
      </article>

      <article class="max-w-[400px] flex flex-col gap-5">
        <div
          class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
        >
          <img
            src={videoPreviewTw}
            alt="Vista previa del video"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 flex justify-center items-center">
            <div class="absolute inset-0 flex justify-center items-center">
              <div
                class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-black"
                  fill="black"
                  viewBox="0 0 24 24"
                  stroke="black"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <p class="text-sm lg:text-base">
          Les invitamos a conocer el Taller Artesanal de Llinco Perú.
        </p>
      </article>
      <article class="max-w-[400px] flex flex-col gap-5">
        <div
          class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
        >
          <img
            src={videoPreviewT}
            alt="Vista previa del video"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 flex justify-center items-center">
            <div class="absolute inset-0 flex justify-center items-center">
              <div
                class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-black"
                  fill="black"
                  viewBox="0 0 24 24"
                  stroke="black"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <p class="text-sm lg:text-base">
          Ver el mundo con tus propios ojos siempre será mejor que solo soñar
          con ello.
        </p>
      </article>
    </div>
  </section>
</Layout>

<script>
  const videoIdO = "2RO57PxUcpE";

  const youtubeUrl = `https://www.youtube-nocookie.com/embed/${videoIdO}?si=qrZMIOTf-lJcd_x_&controls=0`;
  document.addEventListener("DOMContentLoaded", () => {
    const youtubePreview = document.querySelector(".youtube-preview");
    youtubePreview.addEventListener("click", () => {
      const iframe = document.createElement("iframe");
      iframe.src = `${youtubeUrl}&autoplay=1`;
      iframe.frameBorder = "0";
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
      iframe.allowFullscreen = true;
      iframe.classList.add("w-full", "h-full", "object-cover");

      youtubePreview.innerHTML = ""; // Elimina el contenido actual (imagen y botón)
      youtubePreview.appendChild(iframe); // Añade el iframe
    });
  });
</script>
