---
import LayoutFr from "../layouts/LayoutFr.astro";
import HeroNoticiaFr from "../components/fr/HeroNoticiaFr.astro";

const videoIdO = "2RO57PxUcpE";
const videoIdTw = "Q8g1fHamJhw";
const videoIdT = "iBbYZByTDZw";

const videoPreviewO = `https://img.youtube.com/vi/${videoIdO}/hqdefault.jpg`;
const videoPreviewTw = `https://img.youtube.com/vi/${videoIdTw}/hqdefault.jpg`;
const videoPreviewT = `https://img.youtube.com/vi/${videoIdT}/hqdefault.jpg`;

const title = "Nouvelles - Pachamama Turismo Alternativo";
const metaDescription =
  "Restez informé des dernières nouvelles et mises à jour de Pachamama Turismo Alternativo, interagissez avec nous via nos réseaux sociaux.";
const ogImage = "fondo-testimonio.webp";
---

<LayoutFr
  title={title}
  description={metaDescription}
  ogImage={ogImage}
  rutaEsp="/noticias"
  rutaFr="/nouvelles"
>
  <HeroNoticiaFr />
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] self-center justify-center items-center py-20 px-5"
  >
    <div class="w-full flex flex-col gap-5 self-center">
      <h2 class="text-3xl lg:text-6xl font-bold uppercase text-center">
        Découvrez nos actualités
      </h2>
      <p
        class="text-lg lg:text-xl max-w-[600px] w-full self-center text-center"
      >
        Nous aimons interagir avec nos voyageurs, c’est pourquoi nous vous
        invitons à nous suivre sur nos Réseaux Sociaux.
      </p>
      <ul
        class="flex justify-center flex-wrap sm:flex-nowrap gap-3 md:gap-10 transition-all"
      >
        <li>
          <a
            href="https://www.facebook.com/pachamamaturismoalternativo"
            target="_blank"
          >
            <img
              class="hover:scale-90 h-10 lg:h-16 transition-all"
              src="/redes/Redes - Facebook.webp"
              alt="Facebook de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/pachamama.turismo/"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Instagram.webp"
              alt="Instagram de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCsA3Lv9AAywqiaziSMm651Q"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Youtube.webp"
              alt="Youtube de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@pachamama.turismo" target="_blank">
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Tiktok.webp"
              alt="Tiktok de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=51933200365"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Whatsapp.webp"
              alt="Whatsapp de Pachamama Turismo"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section
    class="max-w-[1000px] self-center flex flex-col gap-10 lg:gap-20 py-20 px-5"
  >
    <h3 class="text-3xl lg:text-6xl uppercase font-bold text-center">
      Expériences que vous vivrez
    </h3>
    <div class="flex justify-center flex-wrap gap-10">
      <article class="max-w-[400px] flex flex-col gap-5">
        <div
          class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
        >
          <img
            src={videoPreviewO}
            alt="Vista previa del video"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 flex justify-center items-center">
            <div class="absolute inset-0 flex justify-center items-center">
              <div
                class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-black"
                  fill="black"
                  viewBox="0 0 24 24"
                  stroke="black"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          class="lazy-iframe w-full aspect-video"
          data-src="https://www.youtube.com/embed/2RO57PxUcpE"
        >
          <button class="iframe-button">Cargar Video</button>
        </div> -->
        <p class="text-sm lg:text-base">
          Ne laissez pas pour demain le voyage que vous pouvez faire
          aujourd’hui, découvrez nos circuits les plus attractifs.
        </p>
      </article>

      <article class="max-w-[400px] flex flex-col gap-5">
        <div
          class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
        >
          <img
            src={videoPreviewTw}
            alt="Vista previa del video"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 flex justify-center items-center">
            <div class="absolute inset-0 flex justify-center items-center">
              <div
                class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-black"
                  fill="black"
                  viewBox="0 0 24 24"
                  stroke="black"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          class="lazy-iframe w-full aspect-video"
          data-src="https://www.youtube.com/embed/Q8g1fHamJhw"
        >
          <button class="iframe-button">Cargar Video</button>
        </div> -->
        <p class="text-sm lg:text-base">
          Nous vous invitons à visiter l’atelier artisanal de Llinco Pérou.
        </p>
      </article>

      <article class="max-w-[400px] flex flex-col gap-5">
        <div
          class="youtube-preview aspect-video xl:max-w-[440px] max-w-[600px] w-full relative cursor-pointer"
        >
          <img
            src={videoPreviewT}
            alt="Vista previa del video"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 flex justify-center items-center">
            <div class="absolute inset-0 flex justify-center items-center">
              <div
                class="bg-white rounded-full p-3 shadow-lg hover:bg-gray-100 transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10 text-black"
                  fill="black"
                  viewBox="0 0 24 24"
                  stroke="black"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14.752 11.168l-5.197-3.028A1 1 0 008 9v6a1 1 0 001.555.832l5.197-3.028a1 1 0 000-1.664z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          class="lazy-iframe w-full aspect-video"
          data-src="https://www.youtube.com/embed/iBbYZByTDZw"
        >
          <button class="iframe-button">Cargar Video</button>
        </div> -->
        <p class="text-sm lg:text-base">
          Voir le monde de ses propres yeux sera toujours mieux que d’en rêver.
        </p>
      </article>
    </div>
  </section>
</LayoutFr>

<script>
  const videoIdO = "2RO57PxUcpE";

  const youtubeUrl = `https://www.youtube-nocookie.com/embed/${videoIdO}?si=qrZMIOTf-lJcd_x_&controls=0`;
  document.addEventListener("DOMContentLoaded", () => {
    const youtubePreview = document.querySelector(".youtube-preview");
    youtubePreview.addEventListener("click", () => {
      const iframe = document.createElement("iframe");
      iframe.src = `${youtubeUrl}&autoplay=1`;
      iframe.frameBorder = "0";
      iframe.allow =
        "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
      iframe.allowFullscreen = true;
      iframe.classList.add("w-full", "h-full", "object-cover");

      youtubePreview.innerHTML = ""; // Elimina el contenido actual (imagen y botón)
      youtubePreview.appendChild(iframe); // Añade el iframe
    });
  });
</script>
