---
interface Props {
  title: string;
  description: string;
  rutaEsp: string;
  rutaFr: string;
  ogImage?: string;
}

const { title, description, ogImage, rutaEsp, rutaFr } = Astro.props;

import HeaderFr from "../components/fr/HeaderFr.astro";
import FooterFr from "../components/fr/FooterFr.astro";
import { ViewTransitions } from "astro:transitions";
import ViajeATuMedidaFr from "../components/fr/ViajeATuMedidaFr.astro";
import ScrollingLogoFr from "../components/fr/ScrollingLogoFr.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./Logo-mini.webp" />
    <meta name="generator" content={Astro.generator} />
    <link href="/logo.webp" />
    <link href="/españa.webp" />
    <link href="/francia.webp" />

    <!-- Meta etiquetas SEO adicionales -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage || ""} />
    <meta property="og:url" content={Astro.url.pathname} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/favicon.svg" />

    <link
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
      defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"
      defer></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js" defer></script>
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <HeaderFr rutaEsp={rutaEsp} rutaFr={rutaFr} />
    <slot />
    <ScrollingLogoFr />
    <ViajeATuMedidaFr />
    <FooterFr />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: white;
    background-size: 224px;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
